@import url('https://fonts.googleapis.com/css?family=Petrona');

body {
  background-size: cover;
}

.container {
  width:100%;
  text-align: center; 
}

.header {
  width: 100%;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(200,200,255,0.5);
  font-family: 'Petrona', serif;
}

svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgba(200,200,255,0.75);
    font-family: 'Petrona', serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: #AAAAFF;
}

.tooltip {  
    position: absolute;     
    text-align: center;     
    width: 80px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: white;  
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}